:root {
  --actiondisabled: rgba(0, 0, 0, 0.38);
  --actiondisabledbackground: rgba(0, 0, 0, 0.12);
  --actionfocus: rgba(0, 0, 0, 0.12);
  --actionhover: rgba(0, 0, 0, 0.04);
  --appbardefaultfill: rgba(245, 245, 245, 1);
  --backgroundpaper-elevation-0: rgba(255, 255, 255, 1);
  --backgroundpaper-elevation-1: rgba(255, 255, 255, 1);
  --backgroundpaper-elevation-10: rgba(255, 255, 255, 1);
  --backgroundpaper-elevation-11: rgba(255, 255, 255, 1);
  --backgroundpaper-elevation-12: rgba(255, 255, 255, 1);
  --backgroundpaper-elevation-13: rgba(255, 255, 255, 1);
  --backgroundpaper-elevation-14: rgba(255, 255, 255, 1);
  --backgroundpaper-elevation-15: rgba(255, 255, 255, 1);
  --backgroundpaper-elevation-16: rgba(255, 255, 255, 1);
  --backgroundpaper-elevation-17: rgba(255, 255, 255, 1);
  --backgroundpaper-elevation-18: rgba(255, 255, 255, 1);
  --backgroundpaper-elevation-19: rgba(255, 255, 255, 1);
  --backgroundpaper-elevation-2: rgba(255, 255, 255, 1);
  --backgroundpaper-elevation-20: rgba(255, 255, 255, 1);
  --backgroundpaper-elevation-21: rgba(255, 255, 255, 1);
  --backgroundpaper-elevation-22: rgba(255, 255, 255, 1);
  --backgroundpaper-elevation-23: rgba(255, 255, 255, 1);
  --backgroundpaper-elevation-24: rgba(255, 255, 255, 1);
  --backgroundpaper-elevation-3: rgba(255, 255, 255, 1);
  --backgroundpaper-elevation-4: rgba(255, 255, 255, 1);
  --backgroundpaper-elevation-5: rgba(255, 255, 255, 1);
  --backgroundpaper-elevation-6: rgba(255, 255, 255, 1);
  --backgroundpaper-elevation-7: rgba(255, 255, 255, 1);
  --backgroundpaper-elevation-8: rgba(255, 255, 255, 1);
  --backgroundpaper-elevation-9: rgba(255, 255, 255, 1);
  --components-button-large-font-family: "Roboto-Medium", Helvetica;
  --components-button-large-font-size: 15px;
  --components-button-large-font-style: normal;
  --components-button-large-font-weight: 500;
  --components-button-large-letter-spacing: 0.46000000834465027px;
  --components-button-large-line-height: 26px;
  --components-button-medium-font-family: "Roboto-Medium", Helvetica;
  --components-button-medium-font-size: 14px;
  --components-button-medium-font-style: normal;
  --components-button-medium-font-weight: 500;
  --components-button-medium-letter-spacing: 0.4000000059604645px;
  --components-button-medium-line-height: 24px;
  --components-button-small-font-family: "Roboto-Medium", Helvetica;
  --components-button-small-font-size: 13px;
  --components-button-small-font-style: normal;
  --components-button-small-font-weight: 500;
  --components-button-small-letter-spacing: 0.46000000834465027px;
  --components-button-small-line-height: 22px;
  --components-helper-text-font-family: "Roboto-Regular", Helvetica;
  --components-helper-text-font-size: 12px;
  --components-helper-text-font-style: normal;
  --components-helper-text-font-weight: 400;
  --components-helper-text-letter-spacing: 0.4000000059604645px;
  --components-helper-text-line-height: 165.9999966621399%;
  --components-input-label-font-family: "Roboto-Regular", Helvetica;
  --components-input-label-font-size: 12px;
  --components-input-label-font-style: normal;
  --components-input-label-font-weight: 400;
  --components-input-label-letter-spacing: 0.15000000596046448px;
  --components-input-label-line-height: 12px;
  --components-input-text-font-family: "Roboto-Regular", Helvetica;
  --components-input-text-font-size: 16px;
  --components-input-text-font-style: normal;
  --components-input-text-font-weight: 400;
  --components-input-text-letter-spacing: 0.15000000596046448px;
  --components-input-text-line-height: 24px;
  --components-table-header-font-family: "Roboto-Medium", Helvetica;
  --components-table-header-font-size: 14px;
  --components-table-header-font-style: normal;
  --components-table-header-font-weight: 500;
  --components-table-header-letter-spacing: 0.17000000178813934px;
  --components-table-header-line-height: 24px;
  --elevation-1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --elevation-10: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14),
    0px 4px 18px 3px rgba(0, 0, 0, 0.12);
  --elevation-11: 0px 6px 7px -4px rgba(0, 0, 0, 0.2), 0px 11px 15px 1px rgba(0, 0, 0, 0.14),
    0px 4px 20px 3px rgba(0, 0, 0, 0.12);
  --elevation-12: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14),
    0px 5px 22px 4px rgba(0, 0, 0, 0.12);
  --elevation-13: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14),
    0px 5px 24px 4px rgba(0, 0, 0, 0.12);
  --elevation-14: 0px 7px 9px -4px rgba(0, 0, 0, 0.2), 0px 14px 21px 2px rgba(0, 0, 0, 0.14),
    0px 5px 26px 4px rgba(0, 0, 0, 0.12);
  --elevation-15: 0px 8px 9px -5px rgba(0, 0, 0, 0.2), 0px 15px 22px 2px rgba(0, 0, 0, 0.14),
    0px 6px 28px 5px rgba(0, 0, 0, 0.12);
  --elevation-16: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14),
    0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  --elevation-17: 0px 8px 11px -5px rgba(0, 0, 0, 0.2), 0px 17px 26px 2px rgba(0, 0, 0, 0.14),
    0px 6px 32px 5px rgba(0, 0, 0, 0.12);
  --elevation-18: 0px 9px 11px -5px rgba(0, 0, 0, 0.2), 0px 18px 28px 2px rgba(0, 0, 0, 0.14),
    0px 7px 34px 6px rgba(0, 0, 0, 0.12);
  --elevation-19: 0px 9px 12px -6px rgba(0, 0, 0, 0.2), 0px 19px 29px 2px rgba(0, 0, 0, 0.14),
    0px 7px 36px 6px rgba(0, 0, 0, 0.12);
  --elevation-2: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --elevation-20: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 20px 31px 3px rgba(0, 0, 0, 0.14),
    0px 8px 38px 7px rgba(0, 0, 0, 0.12);
  --elevation-21: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 21px 33px 3px rgba(0, 0, 0, 0.14),
    0px 8px 40px 7px rgba(0, 0, 0, 0.12);
  --elevation-22: 0px 10px 14px -6px rgba(0, 0, 0, 0.2), 0px 22px 35px 3px rgba(0, 0, 0, 0.14),
    0px 8px 42px 7px rgba(0, 0, 0, 0.12);
  --elevation-23: 0px 11px 14px -7px rgba(0, 0, 0, 0.2), 0px 23px 36px 3px rgba(0, 0, 0, 0.14),
    0px 9px 44px 8px rgba(0, 0, 0, 0.12);
  --elevation-24: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14),
    0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  --elevation-3: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14),
    0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  --elevation-4: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  --elevation-5: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  --elevation-6: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  --elevation-7: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14),
    0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  --elevation-8: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  --elevation-9: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14),
    0px 3px 16px 2px rgba(0, 0, 0, 0.12);
  --elevation-outlined: 0px 0px 0px 1px rgba(224, 224, 224, 1);
  --errorcontrast: rgba(255, 255, 255, 1);
  --errordark: rgba(198, 40, 40, 1);
  --errormain: rgba(211, 47, 47, 1);
  --errorstatesfocusvisible: rgba(211, 47, 47, 0.3);
  --errorstateshover: rgba(211, 47, 47, 0.04);
  --errorstatesoutlinedborder: rgba(211, 47, 47, 0.5);
  --grey-100: rgba(245, 245, 245, 1);
  --grey-300: rgba(224, 224, 224, 1);
  --infocontrast: rgba(255, 255, 255, 1);
  --infodark: rgba(1, 87, 155, 1);
  --infomain: rgba(2, 136, 209, 1);
  --infostatesfocusvisible: rgba(2, 136, 209, 0.3);
  --infostateshover: rgba(2, 136, 209, 0.04);
  --infostatesoutlinedborder: rgba(2, 136, 209, 0.5);
  --inherittextprimarymain: rgba(0, 0, 0, 0.87);
  --inheritwhitefocus: rgba(255, 255, 255, 0.12);
  --inheritwhitehover: rgba(255, 255, 255, 0.04);
  --inheritwhitemain: rgba(255, 255, 255, 1);
  --inputfilledenabledfill: rgba(0, 0, 0, 0.06);
  --inputfilledhoverfill: rgba(0, 0, 0, 0.09);
  --inputoutlinedenabledborder: rgba(0, 0, 0, 0.23);
  --inputoutlinedhoverborder: rgba(0, 0, 0, 1);
  --labelssecondary-dark: rgba(235, 235, 245, 0.6);
  --primarycontrast: rgba(255, 255, 255, 1);
  --primarydark: rgba(30, 136, 229, 1);
  --primarymain: rgba(33, 150, 243, 1);
  --primarystatesfocusvisible: rgba(33, 150, 243, 0.3);
  --primarystateshover: rgba(33, 150, 243, 0.04);
  --primarystatesoutlinedborder: rgba(33, 150, 243, 0.5);
  --secondarycontrast: rgba(255, 255, 255, 1);
  --secondarydark: rgba(123, 31, 162, 1);
  --secondarymain: rgba(156, 39, 176, 1);
  --secondarystatesfocusvisible: rgba(156, 39, 176, 0.3);
  --secondarystateshover: rgba(156, 39, 176, 0.04);
  --secondarystatesoutlinedborder: rgba(156, 39, 176, 0.5);
  --successcontrast: rgba(255, 255, 255, 1);
  --successdark: rgba(27, 94, 32, 1);
  --successmain: rgba(46, 125, 50, 1);
  --successstatesfocusvisible: rgba(46, 125, 50, 0.3);
  --successstateshover: rgba(46, 125, 50, 0.04);
  --successstatesoutlinedborder: rgba(46, 125, 50, 0.5);
  --textdisabled: rgba(0, 0, 0, 0.38);
  --textprimary: rgba(0, 0, 0, 0.87);
  --textsecondary: rgba(0, 0, 0, 0.6);
  --typography-body1-font-family: "Roboto-Regular", Helvetica;
  --typography-body1-font-size: 16px;
  --typography-body1-font-style: normal;
  --typography-body1-font-weight: 400;
  --typography-body1-letter-spacing: 0.15000000596046448px;
  --typography-body1-line-height: 150%;
  --typography-body2-font-family: "Roboto-Regular", Helvetica;
  --typography-body2-font-size: 14px;
  --typography-body2-font-style: normal;
  --typography-body2-font-weight: 400;
  --typography-body2-letter-spacing: 0.17000000178813934px;
  --typography-body2-line-height: 142.99999475479126%;
  --typography-caption-font-family: "Roboto-Regular", Helvetica;
  --typography-caption-font-size: 12px;
  --typography-caption-font-style: normal;
  --typography-caption-font-weight: 400;
  --typography-caption-letter-spacing: 0.4000000059604645px;
  --typography-caption-line-height: 165.9999966621399%;
  --typography-h1-font-family: "Roboto-Light", Helvetica;
  --typography-h1-font-size: 96px;
  --typography-h1-font-style: normal;
  --typography-h1-font-weight: 300;
  --typography-h1-letter-spacing: -1.5px;
  --typography-h1-line-height: 116.70000553131104%;
  --typography-h2-font-family: "Roboto-Light", Helvetica;
  --typography-h2-font-size: 60px;
  --typography-h2-font-style: normal;
  --typography-h2-font-weight: 300;
  --typography-h2-letter-spacing: -0.5px;
  --typography-h2-line-height: 120.00000476837158%;
  --typography-h3-font-family: "Roboto-Regular", Helvetica;
  --typography-h3-font-size: 48px;
  --typography-h3-font-style: normal;
  --typography-h3-font-weight: 400;
  --typography-h3-letter-spacing: 0px;
  --typography-h3-line-height: 116.70000553131104%;
  --typography-h4-font-family: "Roboto-Regular", Helvetica;
  --typography-h4-font-size: 34px;
  --typography-h4-font-style: normal;
  --typography-h4-font-weight: 400;
  --typography-h4-letter-spacing: 0.25px;
  --typography-h4-line-height: 123.50000143051147%;
  --typography-h5-font-family: "Roboto-Regular", Helvetica;
  --typography-h5-font-size: 24px;
  --typography-h5-font-style: normal;
  --typography-h5-font-weight: 400;
  --typography-h5-letter-spacing: 0px;
  --typography-h5-line-height: 133.39999914169312%;
  --typography-h6-font-family: "Roboto-Medium", Helvetica;
  --typography-h6-font-size: 20px;
  --typography-h6-font-style: normal;
  --typography-h6-font-weight: 500;
  --typography-h6-letter-spacing: 0.15000000596046448px;
  --typography-h6-line-height: 160.0000023841858%;
  --typography-overline-font-family: "Roboto-Regular", Helvetica;
  --typography-overline-font-size: 12px;
  --typography-overline-font-style: normal;
  --typography-overline-font-weight: 400;
  --typography-overline-letter-spacing: 1px;
  --typography-overline-line-height: 266.00000858306885%;
  --typography-subtitle1-font-family: "Roboto-Regular", Helvetica;
  --typography-subtitle1-font-size: 16px;
  --typography-subtitle1-font-style: normal;
  --typography-subtitle1-font-weight: 400;
  --typography-subtitle1-letter-spacing: 0.15000000596046448px;
  --typography-subtitle1-line-height: 175%;
  --typography-subtitle2-font-family: "Roboto-Medium", Helvetica;
  --typography-subtitle2-font-size: 14px;
  --typography-subtitle2-font-style: normal;
  --typography-subtitle2-font-weight: 500;
  --typography-subtitle2-letter-spacing: 0.10000000149011612px;
  --typography-subtitle2-line-height: 157.00000524520874%;
  --variable-collection-image-select: none;
  --warningcontrast: rgba(255, 255, 255, 1);
  --warningdark: rgba(230, 81, 0, 1);
  --warningmain: rgba(237, 108, 2, 1);
  --warningstatesfocusvisible: rgba(237, 108, 2, 0.3);
  --warningstateshovered: rgba(237, 108, 2, 0.04);
  --warningstatesoutlinedborder: rgba(237, 108, 2, 0.5);
}
