.search-filled {
  background-image: url(https://generation-sessions.s3.amazonaws.com/792ffb3e6c63ab2fbf08549b9fe966f4/img/searchfilled-2.svg);
  background-size: 100% 100%;
  height: 24px;
  width: 24px;
}
